/* .title { */
    /* font-family: Beausite Classic,var(--system-font,system-ui),-apple-system,BlinkMacSystemFont,Segoe WP,Segoe UI,Roboto,Ubuntu,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Apple Color Apple Color Emoji; */
/* } */


  
