@import "tailwindcss";

.title {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .logo {
    font-family: "Emilys Candy", serif;
  font-weight: 700;
  font-style: normal;
  }

  ng-icon svg {
    width: 100% !important;
    height: 100% !important;
  }
  